@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");
body {
  background-color: #fbfbfe;
}

.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
